*{
    box-sizing: border-box;
}
:root{
    --width: 200px;
    --padding: 10px;
    --bgcolor: #1a2537;
    --hovercolor: rgb(255, 255, 255);
    --width-collapsed: 50px;
}
body{
    background: #fff;
    font-family: sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    margin-left: var(--width-collapsed);
}
body-expanded{
    margin-left: var(--width);
}
#main-container{
    color: white;
}
#sidemenu{
    background-color: var(--bgcolor);
    color: white;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
}
 #sidemenu a{
    color: white;
    text-decoration: none;
}
/*
    HEADER
*/
#sidemenu #header{
    box-sizing: border-box;
    border-bottom: solid 1px var(--hovercolor);
}
#sidemenu #header #title{
    box-sizing: border-box;
    overflow: hidden;
}
#sidemenu #header #title, #sidemenu #header #menu-btn{
    vertical-align: middle;
}
#sidemenu #header #menu-btn{
    display: inline-block;
}
#sidemenu #header #menu-btn{
    cursor: pointer;
    padding: 10px;
    width: var(--width-collapsed);
    box-sizing: border-box;
}
#sidemenu #header #menu-btn:hover{
    background-color: var(--hovercolor);
}
#sidemenu #header #menu-btn .btn-hamburger{
    background-color:rgb(85, 255, 136);
    width: 100%;
    height: 6.5px;
    margin: 5px 0;
}
/*
    PROFILE
*/
#sidemenu #profile{
    border-bottom: solid 1px var(--hovercolor);
    padding: var(--padding) 0;
    text-align: center;
}
#sidemenu #profile #photo{
    box-sizing: border-box;
    padding: var(--padding);
    margin: 0 auto;
}
#sidemenu #profile #photo img{
    border-radius: 50%;
    width: 60%;
}
#sidemenu #profile #photo, #sidemenu #profile #name{
    font-size: 24px;
    padding: var(--padding) 0;
    overflow: hidden;
}
/*
    ITEMS
*/
#sidemenu #menu-items{
    overflow: hidden;
}
#sidemenu #menu-items .item{
    width: var(--width);
}
#sidemenu #menu-items .item .icon{
    display:inline-block;
}
#sidemenu #menu-items .item .icon,
#sidemenu #menu-items .item .title{
    font-size: 14px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
}
#sidemenu #menu-items .item a{
    display: block;
}
#sidemenu #menu-items .item a:hover{
    background-color: var(--hovercolor);
}
#sidemenu #menu-items .item .icon{
    box-sizing: border-box;
    padding: var(--padding);
    width: var(--width-collapsed);
}
#sidemenu #menu-items .item .icon img{
    width: 100%;
}
#sidemenu #menu-items .item .title{
    padding: var(--padding) 0;
}
#sidemenu #menu-items .item.separator{
    height: 1px;
    border-bottom: solid 1px var(--hovercolor);
    margin: 15px 0;
}
.menu-expanded{
    width: var(--width);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.menu-expanded #header #title{
    display: inline-block;
    width: calc(100% -50px);
    margin-right: -5px;
    padding: var(--padding);
}
.menu-expanded #header #title span{
    width: calc(var(--width) - var(--width-collapsed)-5px);
    overflow: hidden;
}
.menu-expanded #profile #photo{
    width: 200px;
}
.menu-expanded #profile #name{
    width: 100%;
}
.menu-collapsed{
    width: var(--width-collapsed);
}
.menu-collapsed #header #title{
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}
.menu-collapsed #profile #name{
    display: none;
}
.menu-collapsed .item{
    width: 100px;
}
/*
    ENCABEZADO 
*/
header{
    color: white;
    background-color: #1a2537;
    width: 100%;
    height: 60px;
    margin-top: 0px;
}
#end{
    text-align: right;
    margin-left: 90%;
    margin-top: 15px;
    border-radius: 100px;
    border-color: white;
    width: 100px;
    height: 30px;
    text-decoration: none;
    font-size: 13px;
}
.Cerse{
    text-decoration: none;
    cursor: pointer;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -70px;
    margin-left: 230px;
}
#end:hover{
    background-color: rgb(85, 255, 136);
}
.Cerse:hover{
    background-color: rgb(85, 255, 136);
}
a{
    color:black;
}
span:hover{
    color: #1a2537;
}
.title:hover{
    color: #1a2537;
}
.btn-hamburger:hover{
    color: #1a2537;
}
/*
    Form
*/
main{
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
}
.formulario {
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 20px;
}
.formulario__label{
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}
.formulario__grupo-input{
    position: relative;
}
.formulario__input{
    width: 100%;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 15px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}
.formularios__input{
    color: #1a2537;
}
.formulario__input:focus{
    border: 3px solid #0075ff;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163,163,163,0.4);
}
.formulario__input-error{
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}
.formulario__input-error-activo{
    display: block;
}
.formulario__validacion-estado{
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}
.formulario__mensaje,
.formulario__grupo-btn-enviar{
    grid-column: span 2;
}
.formulario__mensaje{
    height: 45px;
    line-height: 45px;
    background: #F66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}
.formulario__mensaje-activo{
    display: block;
}
.formulario__mensaje p{
    margin: 0;
}
.formulario__grupo-btn-enviar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario__btn{
    height: 45px;
    line-height: 45px;
    width: 30%;
    background:rgb(0, 0, 0);
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
}
.formulario__btn:hover{
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}
.formulario__mensaje-exito{
    font-size: 14px;
    color: #119200;
    display: none;
}
.formulario__mensaje-exito-activo{
    display: block;
}
label,
p{
    color: #1a2537;
}
/*
    ESTILOS PARA
    VALIDACION
*/
.formulario__grupo-correcto 
.formulario__validacion-estado{
    color: #1ED12D;
    opacity: 1;
}
.formulario__grupo-incorrecto .formulario__label{
    color: #bb2929;
}
.formulario__grupo-incorrecto .formulario__validacion-estado{
    color: #bb2929;
    opacity: 1;
}
.formulario__grupo-incorrecto .formulario__input{
    border: 3px solid #bb2929;
}
/*
    MEDIAQUERIES
*/
@media screen and (max-width:800px){
    .formulario{
        grid-template-columns: 1fr;
    }
    .formulario__mensaje,
.formulario__grupo-btn-enviar{
    grid-column: span 2;
    }
    .formulario__btn{
        width: 100%;
    }
} 